<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	body{
		background-color: rgb(247, 249, 249);
	}
</style>
	<title></title>
<h1>About Indian Museum</h1>
</head>
<body>
<font size="4">
<p>The Indian Museum in Kolkata, also referred to as the Imperial Museum at Calcutta in British India era texts,is the largest and oldest museum in India and has rare collections of antiques, armour and ornaments, fossils, skeletons, mummies, and Mughal paintings. It was founded by the Asiatic Society of Bengal in Kolkata (Calcutta), India, in 1814. The founder curator was Nathaniel Wallich, a Danish botanist. It has 4 divisions  namely art,archeology,science,zoology.</p>
<p> This multipurpose Institution with multidisciplinary activities is being included as an Institute of national importance in the seventh schedule of the Constitution of India. It is one of oldest museums in the world. This is an autonomous organization under Ministry of Culture, Government of India. The present Director of the Indian Museum is Rajesh Purohit.The museum was closed to visitors due to massive restoration and upgrades from 1 September 2013 to 3 February 2014.</p>
<h3>History</h3>
<p>The Indian Museum originated from the Asiatic Society of Bengal which was created by Sir William Jones in 1784. The concept of having a museum arose in 1796 from members of the Asiatic Society as a place where man-made and natural objects could be collected, cared for and displayed. The objective began to look achievable in 1808 when the Society was offered suitable accommodation by the Government of India in the Chowringhee-Park Street area.</p>
<h3>Collections</h3>
<p>
It currently (2009) occupies a resplendent mansion, and exhibits among others: an Egyptian mummy, The organs are taken out of the mummy's body through nostrils, except heart. The heart is placed in special chambers. The body was then massaged with salt and oil. The covering was done by thin cotton cloththe Buddhist stupa from Bharhut, the Buddha's ashes, the Ashoka pillar, whose four-lion symbol became the official emblem of the Republic of India, fossil skeletons of prehistoric animals, an art collection, rare antiques, and a collection of meteorites.


stone sculpture of Devi Durga in kolkata
The Indian Museum is also regarded as "the beginning of a significant epoch initiating the socio-cultural and scientific achievements of the country. It is otherwise considered as the beginning of the modernity and the end of mediaeval era" by UZER Places</p>
</font>
</body>
</html>