
<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
 <link rel="stylesheet" href="../../static/app/admin_style.css"type="text/css"  />
  
      <ul>
      <li><a href = 'divisions'> New Department</a></li>
      <li><a href = 'items'> New Items</a></li>
      <li><a href = 'staff'> New Employee</a></li>
      <li><a href = 'exhibition'> Add Exhibition</a></li>
      <li><a href = 'book'> Book Ticket</a></li>
      <li style="float:right"><a href="../accounts/logout"> Logout</a></li>
      </ul>
      <br><br><br><br>
    <font size="5">
    <a href="dept_search">search department</a><br>
    <a href="delete_division">delete department</a><br><br><br>

   <a href="item_search">search Items</a><br>
    <a href="delete_item">delete Items</a><br><br><br>

    <a href="emp_search">search Employee</a><br>
    <a href="delete">delete Employee</a><br><br><br>

    <a href="exh_search">search Exhibition</a><br>
    <a href="delete_exhibition">delete Exhibition</a><br><br><br>

    <a href="vis_search">search visitor</a><br>
    <a href="delete_visitors">delete visitor</a><br><br><br>


</font>
 <!-- <center><center><h1> Hello {{Name}} </h1></center>
  <br><br><br>


<h2>EMPLOYEE DATA</h2>
  <table>

<tr>
  {% for i in emp_columns %}
    <th>{{i}}</th>
  {% endfor %}
</tr>

{% for i in emp_data %}
  <tr>
  {% for j in i %}
    <td>{{j}}</td>

  
  {% endfor %}
  </tr>
{% endfor %}

</table>

<br><br><br><br><br>
<h2>ARTIFACTS DATA</h2>
<table>


<tr>
  {% for i in artifact_columns %}
    <th>{{i}}</th>
  {% endfor %}
</tr>

{% for i in artifact_data %}
  <tr>
  {% for j in i %}
    <td>{{j}}</td>

  
  {% endfor %}
  </tr>
{% endfor %}

</table>

<br><br><br><br><br>
<h2>ARTISTS DATA</h2>
<table>


<tr>
  {% for i in artist_columns %}
    <th>{{i}}</th>
  {% endfor %}
</tr>

{% for i in artist_data %}
  <tr>
  {% for j in i %}
    <td>{{j}}</td>

  
  {% endfor %}
  </tr>
{% endfor %}

</table>
<br><br><br><br><br>
<h2>DEPARTMENT DATA</h2>
<table>


<tr>
  {% for i in dept_columns %}
    <th>{{i}}</th>
  {% endfor %}
</tr>

{% for i in dept_data %}
  <tr>
  {% for j in i %}
    <td>{{j}}</td>

  
  {% endfor %}
  </tr>
{% endfor %}

</table>
<br><br><br><br><br>
</center>
!-->
</body>
</html>