<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	body{
		background-color:orange;
	}
</style>
<center>
	<title></title>
</head>
<body>
<h1>
<br><br><br><br>For more details contact:
</h1>
<h3>
<br><br>Indian Museum<br>

        27, Jawaharlal Nehru Rd,<br>

        Park Street area<br>

        Kolkata,<br>

        West Bengal-700016<br><br><br>

        Phone-+91-33-2286-1702/2286-1699<br>

        Fax-+91-33-2286-1696<br>
        Email : indianmuseumkolkata@gmail.com
        </h3>
</body>
</center>
</html>