<!DOCTYPE html>
<html>
<head>
	<title>Gallery</title>
	<body bgcolor="black">
	<font color="white">
	<center>
	 <h1>Art department</h1><br><br>
	 <img src="../../static/museum_images/monalisa.jpg" >
	<h4> Monalisa painting</h4>
	</center>
	The Mona Lisa is a half-length portrait painting by the Italian Renaissance artist Leonardo da Vinci that has been described as "the best known, the most visited, the most written about, the most sung about, the most parodied work of art in the world".The Mona Lisa is also one of the most valuable paintings in the world. It holds the Guinness World Record for the highest known insurance valuation in history at $100 million in 1962,which is worth nearly $800 million in 2017.
<center>
<br><br><br><br>
<img src="../../static/museum_images/nature painting.jpg">
	<h4>Nature Painting</h4>
	</center>
	James E. Taylor titled his winning piece 'After Snowstorm, Sun on a January Morning.' It's a scene from his former home in Deerfield, Mass., and is a Gold Medal winner in the 2017 National Veterans Creative Arts Festival.
	<center><br><br>
		<h1>Archeology department</h1><br><br>
	 <img src="../../static/museum_images/harrapan pottery.jpg" >
	<h4> Harrapan pottery</h4>
	</center><br><br>
	Indus valley civilization has an ancient tradition of pottery making. Though the origin of pottery in India can be traced back to the much earlier neolithic age, with coarse handmade pottery - bowls, jars, vessels - in various colors such as red, orange, brown, black and cream. During the Indus Valley Civilization, there is proof of pottery being constructed in two ways, handmade and wheel-made
	<br><br>
<center>
	<img src="../../static/museum_images/knife.jpg">
	<h4>Ancient knife</h4>
	</center><br><br>
	The ancient knife is found during escaviations in 1860 and it is more than 500 years old.This indicates the style of living in the ancient times.
<br><br><br><br>
<center>
<h1>Science department</h1><br><br>
	 <img src="../../static/museum_images/aircraft model.jpg" >
	<h4> Aircraft model</h4>
	</center>
<center><br><br><br>
<h1>Zoology department</h1><br><br>
 <img src="../../static/museum_images/blackcobra.jpg" >
	<h4>Black cobra specimen</h4>
	</center>
<br><br><br><br>
<center><h2>These are some of the items in the museum.....please visit the museum for more </h2></center>
</font>
</body>
</html>