<!doctype html>
<html>
<head>
    <title>Home</title>
    <link href="../../static/app/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="my_container">
<center><h1>INDIAN  MUSEUM</h1> </center> 
</div>
<body>
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="timings">Timings and cost</a>
  <a href="contact">Contact</a>
  <a href="exh_search">Exhibitions</a>
  <a href="about">About</a>
  <a href="bookonline">Ticket booking</a>
  <a href="gallery">Gallery</a>
  <a href="../accounts/login/">Admin</a> 
</div>
<div id="container">
<div id="slider" >
<figure>
<img src="../../static/museum_images/bg1.jpg">
<img src="../../static/museum_images/bg2.jpg">
<img src="../../static/museum_images/bg3.jpg">
<img src="../../static/museum_images/img4.jpg">
<img src="../../static/museum_images/img5.jpg">
</figure>   
</div>
</div>
</body>
</html>