<!DOCTYPE html>
<html>
<head>
	<title>cost</title>
	 <link rel="stylesheet" type="text/css" href="../../static/app/cost.css" />
	<center>
		<form action="confirm" method="post">
<h1>Hello you are in ticket booking page</h1>
</head>
</center>
<body>
<center>
<br><br><br><br><br><br><br><br><br><br><br><br>
<font size="6">
<label>Adult Tickets in total:	{{adult_ticket}}</label><br>
<label>Child Ticket in Total : {{child_ticket}}</label></br>
<label>Total cost &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:	{{cost}}</label></br></br>
<label>Visit date &nbsp&nbsp&nbsp:{{visitdate}}</label></font></br></br>
</form>
<font size="10">
<a href="payment">PAY NOW </a>
</font>
</center>
</body>
</html>