<!doctype html>
<html>
<head>
    <title>Timings</title>
    <link rel="stylesheet" type="text/css" href="../../static/proj/timings.css" />
 <center>   <h1 >Hello visitor........</h1></center>
</head>
<body>
<center>
<br><br><br><br><br><br>
<font size="5" color="green">
  <bold>Timings:March to November:10.00 A.M. to 5.00 P.M.</bold><br>
  <bold>December to February: 10.00 A.M. to 4.30 P.M.<br><br>
<bold>Closed : Every Monday, Republic Day ( 26th January), Holi Festival, Independence Day (15th August),
     Mahatma Gandhiji’s Birthday (2nd October), Dusshera or Vijaya Dashami, Diwali, Id-ul-fitr.</bold><br><br><br>
  <bold><u>Ticket cost </u></bold><br>
  <bold> 50rs per adult </bold><br>
  <bold> 30rs per child</bold>
</center>
</font>
</body>
</html>