body{
            background-color: #cccccc;
            background-image: url("../museum_images/login1.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            height: 100%;
            width: 100%;
        }